.order-summary {
    padding: 20px;
    background-color: burlywood;
    position: sticky;
    top: 0;
}

.btn-clear-cut {
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    background: red;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
}